<header class="flex justify-end">
      <div class="menu-container">
        <button type="button" class="hamburger group">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
        </button>
        <nav class="navbar">
          <ul>
            <li> 
              <button>Log Out</button>
            </li>
            <li class="border-t border-gray-400">
              <button (click)="goToApprovalPage()">View Pending</button>
            </li>
          </ul>
        </nav>
      </div>
   
    <!-- <button type="button" class="hamburger">Menu</button> -->
</header>